body{
    height: 200vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color:yellowgreen;
}
nav li{
    list-style: none;
}
nav>.right, .left{
    margin-left: 1rem;
    display: flex;
    gap: 2rem;
    cursor: pointer;
}
nav>.right{
    margin-left: auto;
    margin-right: 1rem;
}
.intro{
    width: 45vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #10c8fb;
    float: right;
    margin-right: 2rem;
}
.intro>video{
    width: 100%;
    height: auto;
    border: none;
    border-radius: 20px;
}
@media (max-width:800px){
    .intro{
        width: 80%;
        height: auto;
    }
}